* {
	box-sizing: border-box;
}

img {
	width: 100%;
	height: auto;
}

.group:after {
	content: '';
	clear: both;
	display: block;
}

.content {
	width: 100%;
}

.nav {
	width: 100%;
	border-bottom: 1px solid #dce0e0;

	.logo {
		float: left;

		h2 {
			margin: 0;
			padding: 0;
		}

		a {
			display: inline-block;
			padding: 10px 20px;
			text-decoration: none;
			color: #ff5a5f;
		}
	}
}

.main {
	width: 100%;
	padding: 20px;
}

.thumb img {
	width: 60px;
}

.left {
	float: left;
	width: 40%;
	padding-right: 20px;
}

.right {
	float: left;
	width: 60%;
}

.map {
	width: 100%;
	height: 500px;
	float: right;
	display: block;
}
