<!DOCTYPE html>
<html>
<head>
  <title>BenchBnB</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5dpwPkuMJxSfwB2aAdT130xVkKNZ-6K8"></script>
	<script type="text/javascript" src="https://widget.cloudinary.com/global/all.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
